# Dependencies
node_modules

# Build output
dist

# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# Logs
logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Test
coverage
.nyc_output

# Environment files
.env
.env.*

# Documentation
README.md
docs
